name: Release

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
    
jobs:
  release:
    name: release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v2

      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v2
        with: 
          repository: v2fly/domain-list-community
          path: domain-list-community

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Generate
        run: go run main.go -datapath domain-list-community/data/ -outputdir generated

      - name: Get Commit Message
        id: message
        uses: actions/github-script@v4.1
        with:
          result-encoding: string
          script: |
            var id = `${{ github.sha }}`;
            var event = `${{ github.event_name }}`;
            if (event == 'push') return `update: generate by ${id}`;
            var time = new Date(Date.now()).toISOString();
            return `update: generate at ${time}`;

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: release
          clean: true
          commit-message: ${{ steps.message.outputs.result }}
          folder: generated
          git-config-name: github-actions[bot]
          git-config-email: 41898282+github-actions[bot]@users.noreply.github.com